<?php
// {{ ansible_managed }}


// MySQL settings
define('DB_NAME', '{{ wordpress_mysql_db }}');
define('DB_USER', '{{ wordpress_mysql_user }}');
define('DB_PASSWORD', '{{ wordpress_mysql_password }}');
define('DB_HOST', '{{ wordpress_mysql_host }}');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

// WordPress database table prefix
$table_prefix  = '{{ wp_instance.table_prefix | default(wordpress_default_table_prefix) }}';

// home and siteurl are set here so changing via Ansible is possible
define('WP_HOME', '{{ wp_instance.home }}');
define('WP_SITEURL', '{{ wp_instance.siteurl }}');

// For developers: WordPress debugging mode.
define('WP_DEBUG', false);

// Use direct filesystem I/O in PHP
define('FS_METHOD', 'direct');

// Absolute path to the WordPress directory
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

// unique keys and salts for authentication
require_once(ABSPATH . 'wp-salt.php');

// Set up WordPress vars and included files
require_once(ABSPATH . 'wp-settings.php');
