<?php
// {{ ansible_managed }}


// MySQL settings
define('DB_NAME', '{{ wordpress_mysql_database_name }}');
define('DB_USER', '{{ wordpress_mysql_user }}');
define('DB_PASSWORD', '{{ wordpress_mysql_password | mandatory }}');
define('DB_HOST', 'localhost:{{ mariadb_socket | mandatory }}');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

// WordPress database table prefix
$table_prefix  = '{{ wordpress_table_prefix }}';

// unique keys and salts for authentication
require_once(ABSPATH . 'wp-salt.php');

// home and siteurl are set here so changing via Ansible is possible
define('WP_HOME', '{{ wordpress_home }}');
define('WP_SITEURL', '{{ wordpress_siteurl }}');

// For developers: WordPress debugging mode.
define('WP_DEBUG', false);

// Use direct filesystem I/O in PHP
define('FS_METHOD', 'direct');

// Absolute path to the WordPress directory
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

// Set up WordPress vars and included files
require_once(ABSPATH . 'wp-settings.php');
